* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .14rem; }
  
  html, body, .box {
    width: 100%;
    height: 100%;
    box-sizing: border-box; }
  
  html {
    font-size: 625%; }
  
  i, em {
    font-style: normal; }
  
  b {
    font-weight: normal; }
  
  ul li, ol li {
    list-style: none; }
  
  a {
    text-decoration: none;
    color: #000; }
 .box{
     width:100%;
     display: flex;
     flex-direction: column;
 }
 header{
     width:100%;
     height: .39rem;
     border-bottom: 1px solid #ccc;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding:0 2%;
     .zz{
        flex:3;
        display: flex;
        align-items: center;
        span{
            font-size: 14px;
            font-weight: bold;
            margin-left: 1%;
        }
     }
     .rr{
       
        display: flex;
        align-items: center;
        b{
            margin-left: 5%!important;
        }
     }
 }
 section{
     width:100%;
     flex:1;
     flex-direction: column;
     overflow-y: scroll;
     background: #EDEDED;
     .banner{
        width: 100%;
        height: auto;
        .container{

            width:100%;
            height: 2.6rem;
            overflow:hidden;
            img{
                width:100%;
                height: 2.6rem;
            }
        }
     }
     .data{
         width:100%;
         background: #fff;
         .one{
             width:100%;
             height: .3rem;
             line-height: .3rem;
             display: flex;
             justify-content: space-between;
             padding: 0 3%;
             border-bottom: 1px solid #ccc;
             font-size: 14px;
         }
     }
     .main1{
         width:100%;
         background: #fff;
         margin-top: .05rem;
         .tit{
             width:100%;
             height: .45rem;
             line-height: .45rem;
             text-align: center;
             font-size: 16px;
             border-bottom: 1px solid #ccc;
         }
         .nav{
             width:100%;
             display: flex;
             flex-wrap: wrap;
             padding-top: .13rem;
             padding-bottom: .08rem;
             a{
                 width:25%;
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 img{
                     width:60%;
                     
                 }
                 span{
                     font-size: 14px;
                     padding-top: .08rem;
                     padding-bottom: .12rem;
                 }
             }
         }
     }
     .main2{
         width:100%;
         background: #fff;
         margin-top: .08rem;
         display: flex;
         flex-direction: column;
         .toggle{
             width:100%;
             dl{
                 width:100%;
                 
                 dt{
                     width:100%;
                     height: .45rem;
                     line-height: .45rem;
                     padding-left: 5%;
                     border-bottom: 1px solid #ccc;
                     font-size: 16px;
                     font-weight:bold;
                 }
                 dd{
                     width: 100%;
                     display: flex;
                     flex-wrap: wrap;
                     display: none;
                     span{
                         display:inline-block;
                         width:50%;
                         height: .4rem;
                         line-height: .4rem;
                         text-align: center;
                     }
                 }
             }
         }
     }
     .bot{
         width:100%;
         background: #fff;
         margin-top: .06rem;
         .hang{
             width:100%;
             height: .45rem;
             line-height: .45rem;
             font-weight: bold;
             padding-left: 2%;
             border-bottom: 1px solid #ccc; 
         }
         .uli{
             width: 100%;
             height: auto;
             display:flex;
             flex-wrap: wrap;
             padding-top: .1rem;
             padding-bottom: .1rem;
             border-bottom: 1px solid #ccc; 
             li{
                 width:33.3%;
                 height: .4rem;
                 line-height: .4rem;
                 text-align: center;
             }
         }
         .tu{
             width:100%;
             display: flex;
             justify-content: space-between;
             padding: 0 15%;
             padding-top: .1rem;
             padding-bottom: .1rem;
         }
         .di{
             width:100%;
             height: .45rem;
             line-height: .45rem;
             text-align: center;
         }
     }
 }
  